/* main code */
body {
  background-color: #001011;
  color: #ffffff;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a {
  color: #3AAFB9;
  font-weight: bold;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: capitalize;
}

div {
  background: linear-gradient(to right, #052528, #22757C);
}

table {
  opacity: 0.9;
}
/* main code end*/


/* sub code */

  /* a-index */
    #a-index:link {
      color: #ff0000;
    }

    #a-index:visited {
      color: #ffffff;
    }

    #a-index:hover {
      color: #0000ff;
    }

    #a-index:active {
      color: #ff00ff;
    }
  /* a-index end */

  /* a-about */
    #a-about:link {
      color: #ffa500;
    }

    #a-about:visited {
      color: #ffffff;
    }

    #a-about:hover {
      color: #005AFF;
    }

    #a-about:active {
      color: #c9a0dc;
    }
  /* a-about end */

  /* a-hobbies */
    #a-hobbies:link {
      color: #ffff00;
    }

    #a-hobbies:visited {
      color: #ffffff;
    }

    #a-hobbies:hover {
      color: #9367c1;
    }

    #a-hobbies:active {
      color: #800080;
    }
  /* a-hobbies end */

  /* a-favorites */
    #a-favorites:link {
      color: #00ff00;
    }

    #a-favorites:visited {
      color: #ffffff;
    }

    #a-favorites:hover {
      color: #ff5fff;
    }

    #a-favorites:active {
      color: #cc338b;
    }
  /* a-hobbies end */

  /* a-goals */
    #a-goals:link {
      color: #0000ff;
    }

    #a-goals:visited {
      color: #ffffff;
    }

    #a-goals:hover {
      color: #6cace4;
    }

    #a-goals:active {
      color: #cc338b;
    }
  /* a-goals end */


  /* a-contact */
    #a-contact:link {
      color: #7F00FF;
    }

    #a-contact:visited {
      color: #ffffff;
    }

    #a-contact:hover {
      color: #ffff00;
    }

    #a-contact:active {
      color: #fbe790;
    }
  /* a-goals end */

/* sub code end */
