/* main code */
body {
  text-align: center;
  background-color: #899878;
  color: #E4E6C3;
}

hr {
  color: #E4E6C3;
}

a {
  color: #F7F7F2;
  font-weight: bold;
  text-align: center
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

div {
  background: linear-gradient(to right, #A09EA4, #8FA3B1);
}

audio {
  opacity: 0.9;
}
/* main code end*/


/* sub code */
#contact-page {
  background-color: #C2948A;
  color: #28536B;
}

#contact-form {
  text-align: center;
}

.contact-h {
  color: #28536B;
}

.contact-h1 {
  background: linear-gradient(to right, #B7BF9E, #A0AC8B);
}

.contact-a {
  color: #7EA8BE;
  font-weight: bold;
}

.contact-hr {
  color: #28536B;
}

#thanks-page {
  background-color: #C2948A;
  color: #28536B;
}
/* sub code end */
