body {
  font-family: Helvetica, sans-serif;
  text-align: justify;
  background-color: black;
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

hr {
    border: none;
    border-top: 4px dotted white;
}

a:link {
  color: lightblue;
  font-weight: bold;
}

a:visited {
  color: blue;
  font-weight: bold;
}

a:hover {
  color: white;
  font-weight: bold;
}

a:active {
  color: grey;
  font-weight: bold;
}

div {
  text-align: center;
}
